services:
  db:
    image: postgres:16
    container_name: mankatbank-db
    environment:
      POSTGRES_DB: mankatbank
      POSTGRES_USER: bankuser
      POSTGRES_PASSWORD: bankpass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: